td {
  padding: 3px 8px 3px 8px;
}

tbody tr:hover {
  background-color: #eee;
}

.table-highlight {
    background-color: #ebf2f9  !important;
}

.page-table {
  width: 100%;
}

.page-table th {
  text-align: left;
  padding: 3px 8px 3px 8px;
}